@font-face {
  font-family: "iconfont"; /* Project id 4531152 */
  src: url('iconfont.woff2?t=1714489849272') format('woff2'),
       url('iconfont.woff?t=1714489849272') format('woff'),
       url('iconfont.ttf?t=1714489849272') format('truetype'),
       url('iconfont.svg?t=1714489849272#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book-collection:before {
  content: "\e617";
}

.icon-collection2:before {
  content: "\e604";
}

.icon-collection1:before {
  content: "\e666";
}

.icon-posts:before {
  content: "\e600";
}

.icon-book:before {
  content: "\e777";
}

.icon-user:before {
  content: "\e615";
}

.icon-notice:before {
  content: "\e6b1";
}

.icon-menu:before {
  content: "\e611";
}

.icon-comment:before {
  content: "\e613";
}

